[submodule "php/php-course-brocode"]
	path = php/php-course-brocode
	url = https://github.com/rniguel/php-course-brocode.git
[submodule "sql/sql-course-brocode"]
	path = sql/sql-course-brocode
	url = https://github.com/rniguel/sql-course-brocode
[submodule "javascript/fallback-api-cep"]
	path = javascript/fallback-api-cep
	url = https://github.com/rniguel/fallback-api-cep
[submodule "tools/github-speckit-starting"]
	path = tools/github-speckit-starting
	url = https://github.com/rniguel/github-speckit-starting
